@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

header img {
    width: 8vw;
}

nav ul {
    width: 78vw;
    display: flex;
    justify-content: space-evenly;
}

ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

ul li {
    background-color: black;
    width: 15vw;
    margin: 5px auto;
    list-style: none;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

}

@media screen and (min-width: 992px) {
    header {
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header img {
    width: 8vw;
}

nav ul {
    width: 78vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

ul li {
    background-color: black;
    width: 15vw;
    margin: 5px auto;
    list-style: none;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

}