@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 200px;
    gap: 5px;
}

.topo {
    background-color: red;
 /* grid-row: 1 / 2;
    grid-column: 1 / 3; 
    ou
    grid-area: 1 / 1 / 2 / span 2;
    ou
    grid-area: 1 / 1 / 2 / -1;
    */

    grid-area: 1 / 1 / 2 / 3;
}

.menu {
    background-color: blue;
 /* grid-row: 2 / 3;
    grid-column: 1 / 3; 
    ou
    grid-area: 2 / 1 / 3 / span 2;
    ou
    grid-area: 2 / 1 / 3 / -1;
    */
    grid-area: 2 / 1 / 3 / 3;
}

.principal {
    background-color: green;
 /* grid-row: 3 / 4;
    grid-column: 1 / 2; 
    ou
    grid-area: 3 / 1 / span 1 / span 1;
    ou
    grid-area: 3 / 1 / -2 / 2;
    */
    grid-area: 3 / 1 / 4 / 2;
}

.secundario {
    background-color: yellow;
 /* grid-row: 3 / 4;
    grid-column: 2 / 3; 
    ou
    grid-area: 3 / 2 / span 1 / span 1;
    ou
    grid-area: 3 / -2 / -2 / -1;
    */
    grid-area: 3 / 2 / 4 / 3;
}

.rodape {
    background-color: purple;
 /* grid-row: 4 / 4;
    grid-column: 1 / 4; 
    ou
    grid-area: 4 / 1 / 4 / span 2;
    ou
    grid-area: -2 / 1 / -1 / -1;
    */
    grid-area: 4 / 1 / 5 / 3;
}