@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to bottom,#5D718C, #364659, #1A1E26);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px 10px #1a1e2685;
}

h1 {
    color: #1A1E26;
    text-align: center;
    text-shadow: 1px 1px 2px #397b9585;
}

h2 {
    color: #364659;
}
p {
    text-align: justify;
}

